*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}
.container {
    max-width: 1200px;
    margin: auto;
}
header {
    background-color: #c1cfd4;
    text-align: center;
    height: 86px;
}
/* ------------------nav---------------*/
nav {
    background-color: black;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li, a {
   color: white;
   front-size: 12px
}
nav ul li:nth-child(2) a { 
    color: #FFF200;
}
nav ul li:nth-child(2) i {
     color: #FFF200; 
     font-size: 15px; 
     margin-left: 6px;

} 
nav ul li:nth-child(3) {
     position: relative;
}
nav ul li:nth-child(3) input {
     height: 30px; 
     width: 100%;
     border-radius: 5px;
     border: nome;
     padding-left: 6px;
     outline: none;
}

nav ul li:nth-child(3) i {
    position: absolute; 
    font-size: 15px; 
    right: 12px;
    color: #333;
    line-height: 30px;
    cursor: pointer;
}
nav ul li:nth-child(4) input {
    height: 30px; 
    padding: 0 12px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 1px solid rgb(70, 68, 68);
    border-radius: 5px;
    transition: all 0.3s ease;
}
nav ul li:nth-child(4) button i { 
    margin-right: 6px;
}
nav ul li:nth-child(4) button:hover {
    background-color: rgb(100, 97, 97);
}
nav ul li:nth-child(5) {
    text-align: center;
}
nav ul li:nth-child(5):hover a { 
    color: #FFF200;
}
nav ul li:nth-child(6) {
    color: #FFF200;

}
.btn-content {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #FFF200;
    display: block;
    float: left;
    margin-right: 5px;
}
.btn-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #FFF200;
    display: block;
    pointer-events: none;
    animation: btnani 1s linear infinite;
    display: block;


}
@keyframes btnani {
    from {
        opacity: 0.4;
    }
    to {
        transform: scale(3)
        opacity: 0;
    }
}
nav ul li:nth-child(7):hover a {
    color:#FFF200
}
nav ul li:nth-child(7):hover a {
    color:#FFF200
}
nav ul li:nth-child(7):hover a {
    color:#FFF200
}
/*----------------menu-barbar---------------*/
.menu-bar {
    background-color: #c1cfd4;
  
}
.menu-bar ul {
    display: flex;
    justify-content: space-between;


}
.menu-bar ul li a {
    color:black;
    font-size: 16px;
}
.menu-bar ul li a i {
    margin-right: 6px;
    font-size: 16px;
}
.menu-bar ul li {
    padding: 12px 13px;
    transition: all 0.3s ease;
}
.menu-bar ul li:hover {
    background-color: white;
}
/*188---------adress form------------=*/
.adress-form {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.6);
    top: 0;
    left: 0;
    display: flex;
    align-items:center; 
    justify-content: center;
    text-align: center;
    color: #333;
    display: none;
    z-index: 999;
}
.adress-form-content {
    width: 450px;
    height: 500px;
    background-color:#fff;
    border-radius: 5px;
}
.adress-form-content form {
    padding: 0 40px;
 }
.adress-form-content h2 {
    font-size: 14px;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.adress-form-content h2 span {
    display: block;
    position: absolute;
    height: 30px;
    padding: 0 10px;
    border: 1px solid #ddd;
    right: 12px;
    cursor: pointer;
    top: 20%;
    transition: translateY(-50%);
    line-height: 30px;
    color: #333;
    border-radius: 5px;
}
.adress-form-content form p {
    font-size: 16px;
}
.adress-form-content form input,select {
    height: 40px;
    display: block;
    width: 370px;
    margin-top: 30px;
    border: 1px solid #ddd;
    padding: 6px;
    border-radius: 5px;
}
.adress-form-content form button {
    margin-top: 20px;
    height: 40px;
    width: 80%;
    cursor: pointer;
    background-color: #F97E0E;
    outline: none;
    border: none;
    color:#fff;
}
/*256----------submenu------------*/
.menu-bar-content ul li {
    position: relative;
}
.submenu {
    position: absolute;
    background-color: #ddd;
    width: 300px;
    height: auto;
    left: 0;
    top: 100%;
    padding: 12px;
    display: none;
   
}
.submenu ul {
    display: flex;
    flex-direction: column;
}
.submenu ul li {
    padding: 6px 0;
}
.submenu ul li:hover a {
    color: white;
}
.submenu ul li:hover {
    background:none;
}
.menu-bar-content ul li:hover .submenu {
    display: block;
}
/*289---------------slider---------------*/
li {
    list-style: none;
}
.slider {
    padding: 20px 0;
    height: 350px;
}
.slider-content {
    display: flex;
    justify-content: space-between;
}
.slider-content-left {
    width: 65%;
}
.slider-content-left-top {
    width: 100%;
    height: 300px;
    position: relative;
}
/*.slider-content-left-top:hover i {
    opacity: 1;
}*/
.slider-content-left-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-content-left-bottom {
    display: flex;
    justify-content: space-between;
    border: 2px solid #ddd;
    border-top: none;
    height: 50px;
}
.slider-content-left-bottom li {
    width: 20%;
    text-align: center;
    cursor: pointer;
    padding: 6px 0;
    height: 100%;
    line-height: 38px;
    position: relative;
}
.slider-content-left-bottom li::before {
    display: block;
    content: "";
    position: absolute;
    height: 70%;
    width: 1px;
    background-color: #ddd;
    right: 0;
}
.slider-content-left-bottom li.active {
    border-top: 4px solid #FFF200;
}
.slider-content-right {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    justify-content: space-around;
}
.slider-content-right{
    width: 40%;
    height: 50%;
    text-align: center;
    margin-bottom: 3px;
}
.slider-content-right li img {
    height: 170px;
    width: 170px;
}
.slider-content-left-top-btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.slider-content-left-top-btn i {
    color: #333;
    font-size: 32px;
    height: 50px;
    width: 25px;
    background-color: rgb(238, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease;
    cursor: pointer;
}
.submenu {
    z-index: 10;
}
/*390------------------slider js 1-----------------*/
.slider-content-left-top img {
    position: absolute;
}
.slider-content-left-top a:nth-child(2) img {
    transform: translateX(100%);
}
.slider-content-left-top a:nth-child(3) img {
    transform: translateX(200%);
}
.slider-content-left-top a:nth-child(4) img {
    transform: translateX(300%);
}
.slider-content-left-top a:nth-child(5) img {
    transform: translateX(400%);
}
.slider-content-left-top-container {
    position: relative;
    overflow: hidden;
}
.slider-content-left-top-container:hover i {
    opacity: 1;
}
.slider-content-left-top {
    transition: all 0.3s ease;
}
/*417----------------slider-------#c1cfd4------------*/
.slider-content-left-bottom li.active {
    border-top: 4px solid #FFF200;
    font-weight: bold;
}
.slider-content-left-bottom li {
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
}
/*--------------baner 1 -----------------*/
.baner-one {
    margin-top: 30px;
}
/*432--------------sider product 1 -----------------*/
.slider-product-one-content {
    background-color: #c1cfd4;
    padding: 12px;
}
.slider-product-one-content-title h2 {
    font-style: italic;
}
.slider-product-one-content-items {
    display: flex;
    justify-content: space-evenly;
}
.slider-product-one-content-item {
    width:19%;
    background-color: #fff;
    padding: 50px 12px 12px;
    border-radius: 5px;

}
.slider-product-one-content-item img {
    width: 100%;
}
.slider-product-one-content-item-text {
    padding-top: 20px;
}
.slider-product-one-content-item-text li {
    margin-bottom: 6px;
}
.slider-product-one-content-item-text li:first-child {
    height: 30px;
    width: 70%;
    background-color: #DE1C05;
    display: inline-block;
    margin-bottom: 20px;
    align-items: center;
    line-height: 30px;
    border-radius: 40px;
}
.slider-product-one-content-item-text li:first-child p {
    color:#fff;
    font-size: 12px;
}
.slider-product-one-content-item-text li:first-child img {
    width: 30px;
    float: left;
    margin-right: 6px;
}
/*error--------------
.slider-product-one-content-item-text li:first-child(4) i {
    color: #FB6E2E;
}
------------*/
/*----------sanpham------------*/
.product-gallery-one-content-product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-gallery-one-content-product-item {
    width: 20%;
    padding: 50px 12px 12px;
    border: 1px solid #ddd;
    cursor: pointer;
}
.product-gallery-one-content-product-item:hover > img {
    transform: translateY(-20px);
}
.product-gallery-one-content-product-item > img {
    width: 100%;
    transition: all 0.3s ease;
}
.product-gallery-one-content-product-item-text {
    padding-top: 20px;
}
.product-gallery-one-content-product-item-text {
    margin-bottom: 6px;
}
.product-gallery-one-content-product-item-text li:first-child {
    height: 30px;
    width: 70%;
    background-color: #DE1C05;
    display: inline-block;
    margin-bottom: 20px;
    align-items: center;
    line-height: 30px;
    border-radius: 40px;
}
.product-gallery-one-content-product-item-text li:first-child p {
    color:#fff;
    font-size: 12px;
}
.product-gallery-one-content-product-item-text li:first-child img {
    width: 30px;
    float: left;
    margin-right: 6px;
}
/*error--------------
.product-gallery-one-content-product-item-text li:first-child(4) i {
    color: #FB6E2E;
}-----*/
.product-gallery-one {
    margin-top: 30px;
}
.product-gallery-one-content-title {
    display: flex;
    justify-content: space-between;
}
/*--------------------káº¿t--------------*/
.info{
	float:left;
	width:25%;
	height:auto;
}
.info ul{
	padding:0;
	margin:0;
	list-style:none;
}
.info ul li a{
	text-decoration:none;
	
}
.info ul li a:link, .info ul li a:visited {
	color:gray;
}
.info ul li a:hover {
	color:green;
}
.e-footer{
	width:100%;
	float:left;
}